package templates

templ AboutPage() {
	@Layout("About") {
		@aboutContent()
	}
}

templ aboutContent() {
	<div class="container mx-auto text-center p-4">
		<h1 class="text-2xl font-bold">About Page</h1>
		<p>This is the about page.</p>
	</div>
}
